[package]
name = "autd3capi"
version = "23.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def" }

[dev-dependencies]
assert_approx_eq = { workspace = true }
