[package]
name = "autd3capi"
version = "22.0.1"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
async-ffi = "0.5.0"
autd3capi-def = { path = "../autd3capi-def" }

[features]
single_float = ["autd3capi-def/single_float"]
use_meter = ["autd3capi-def/use_meter"]

[dev-dependencies]
assert_approx_eq = "1.1.0"
