[package]
name = "autd3capi"
version = "25.0.0-rc.9"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-driver = { path = "../autd3capi-driver" }

[dev-dependencies]
assert_approx_eq = { workspace = true }
