[package]
name = "autd3capi"
version = "25.2.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-driver = { path = "../autd3capi-driver" }
seq-macro = "0.3.5"

[dev-dependencies]
assert_approx_eq = { workspace = true }
