[package]
name = "autd3capi"
version = "25.2.3"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-driver = { path = "../autd3capi-driver" }
seq-macro = "0.3.5"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

[dev-dependencies]
assert_approx_eq = { workspace = true }
