[workspace]

members = ["autd3capi", "autd3capi-driver", "autd3capi-gain-holo", "autd3capi-link-simulator", "autd3capi-link-soem", "autd3capi-link-twincat", "autd3capi-modulation-audio-file", "autd3capi-emulator"]

exclude = ["tools"]

resolver = "2"

[workspace.package]
version = "29.0.0-rc.3"
authors = ["shun suzuki <suzuki@hapis.k.u-tokyo.ac.jp>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/shinolab/autd3-capi"

[workspace.dependencies]
autd3 = { version = "29.0.0-rc.3" }
autd3-driver = { version = "29.0.0-rc.3" }
autd3-gain-holo = { version = "29.0.0-rc.3" }
autd3-link-simulator = { version = "29.0.0-rc.3" }
autd3-link-soem = { version = "29.0.0-rc.3" }
autd3-link-twincat = { version = "29.0.0-rc.3" }
autd3-modulation-audio-file = { version = "29.0.0-rc.3" }
autd3-emulator = { version = "29.0.0-rc.3" }
autd3capi = { path = "./autd3capi" }
autd3capi-driver = { path = "./autd3capi-driver" }
autd3capi-gain-holo = { path = "./autd3capi-gain-holo" }
libc = "0.2.158"
assert_approx_eq = "1.1.0"
tokio = "1.40.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
async-ffi = "0.5.0"
seq-macro = "0.3.5"
derive_more = "1.0.0"

[profile.release]
strip = true
lto = false
rpath = true
