[workspace]

members = [
    "autd3capi",
    "autd3capi-def",
    "autd3capi-backend-cuda",
    "autd3capi-gain-holo",
    "autd3capi-link-simulator",
    "autd3capi-link-soem",
    "autd3capi-link-twincat",
    "autd3capi-link-visualizer",
    "autd3capi-modulation-audio-file",
]

exclude = ["tools"]

resolver = "2"

[workspace.dependencies]
assert_approx_eq = "1.1.0"
autd3 = "22.0.4"
autd3-backend-cuda = "22.0.4"
autd3-driver = "22.0.4"
autd3-gain-holo = "22.0.4"
autd3-link-simulator = "22.0.4"
autd3-link-soem = "22.0.4"
autd3-link-twincat = "22.0.4"
autd3-link-visualizer = "22.0.4"
autd3-modulation-audio-file = "22.0.4"
libc = "0.2.144"
tokio = "1.35.1"

[profile.release]
strip = true
lto = false
rpath = true
