[package]
name = "autd3capi-gain-holo"
version = "24.0.0-rc.1"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
autd3capi-driver = { path = "../autd3capi-driver" }
autd3-gain-holo = { workspace = true, features = ["async-trait"] }
