[package]
name = "autd3capi-gain-holo"
version = "22.0.4"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def" }
autd3-gain-holo = { workspace = true, features = ["async-trait"] }
