[package]
name = "autd3capi-modulation-audio-file"
version = "25.0.0-rc.9"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-driver = { path = "../autd3capi-driver" }
autd3-modulation-audio-file = { workspace = true, features = ["async-trait"] }
