[package]
name = "autd3capi-modulation-audio-file"
version = "19.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def", version = "19.1.0" }
autd3-modulation-audio-file = { version = "19.1.0" }
