[package]
name = "autd3capi-link-visualizer"
version = "20.0.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def", version = "20.0.0" }
autd3-link-visualizer = { version = "20.0.1", features = ["plotters", "python", "gpu"] }

[features]
single_float = ["autd3-link-visualizer/single_float"]
