[package]
name = "autd3capi-link-visualizer"
version = "22.0.1"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def", version = "22.0.1" }
autd3-link-visualizer = { version = "22.0.0", features = ["plotters", "python", "gpu", "async-trait"] }

[features]
single_float = ["autd3-link-visualizer/single_float"]
