[package]
name = "autd3capi-link-visualizer"
version = "23.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def", version = "23.1.0" }
autd3-link-visualizer = { workspace = true, features = ["plotters", "python", "gpu", "async-trait"] }
