[package]
name = "autd3capi-link-simulator"
version = "23.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3-link-simulator = { workspace = true, features = ["async-trait"] }
autd3capi-driver = { path = "../autd3capi-driver" }
tokio = { workspace = true, features = ["rt-multi-thread"] }
