[package]
name = "autd3capi-link-simulator"
version = "20.0.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def", version = "20.0.0" }
autd3-link-simulator = { version = "20.0.0", features = ["sync"] }
tokio = { version = "1.34.0", features = ["rt-multi-thread"] }
