[package]
name = "autd3capi-link-simulator"
version = "22.0.4"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3-link-simulator = { workspace = true, features = ["async-trait"] }
autd3capi-def = { path = "../autd3capi-def" }
tokio = { workspace = true, features = ["rt-multi-thread"] }
