[package]
name = "autd3capi-link-simulator"
version = "21.0.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3-link-simulator = { version = "21.0.0", features = ["async-trait"] }
autd3capi-def = { path = "../autd3capi-def" }
tokio = { version = "1.35.1", features = ["rt-multi-thread"] }
