[package]
name = "autd3capi-backend-cuda"
version = "21.0.1"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def", version = "21.0.1" }
autd3capi-gain-holo = { path = "../autd3capi-gain-holo", version = "21.0.1" }
autd3-gain-holo = { version = "21.0.1", features = ["async-trait"] }
autd3-backend-cuda = { version = "21.0.0", features = ["async-trait"] }
libc = "0.2.144"

[features]
single_float = ["autd3capi-def/single_float", "autd3-backend-cuda/single_float"]
