[package]
name = "autd3capi-link-twincat"
version = "20.0.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def", version = "20.0.0" }
autd3-link-twincat = { version = "20.0.0", features = ["local", "remote"] }
