[package]
name = "autd3capi-link-twincat"
version = "23.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def" }
autd3-link-twincat = { workspace = true, features = ["local", "remote", "async-trait"] }
