[package]
name = "autd3capi-link-twincat"
version = "22.0.3"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-def = { path = "../autd3capi-def" }
autd3-link-twincat = { version = "22.0.3", features = ["local", "remote", "async-trait"] }
