[package]
name = "autd3capi-link-soem"
version = "25.2.1"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
autd3capi-driver = { path = "../autd3capi-driver" }
autd3-link-soem = { workspace = true, features = ["local", "remote", "async-trait"] }
