name: build

on:
  push:
    branches:
      - 'develop'
  pull_request:
    types: [opened, reopened, review_requested]

jobs:
  build-src:
    name: build-src-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
      - name: fetch submodule
        run: |
          git submodule update --init --recursive autd3
        
      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Setup
        uses: ./.github/actions/setup-build
        with:
          os: ${{ matrix.os }}

      - name: Test src on ${{ matrix.os }}
        run: |
          python3 build.py build
        shell: bash

  build-windows-aarch64-src:
    name: build-src-windows-aarch64
    runs-on: windows-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: fetch submodule
        run: |
          git submodule update --init --recursive autd3

      - name: Setup
        uses: ./.github/actions/setup-build
        with:
          os: windows-latest
          arch: 'aarch64'
      - name: Rust cache
        uses: swatinem/rust-cache@v2
      - name: Test src on ${{ matrix.os }}
        run: |
          python3 build.py build --arch aarch64

  build-linux-arm32-src:
    name: build-src-linux-arm32
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: fetch submodule
        run: |
          git submodule update --init --recursive autd3

      - name: Setup
        uses: ./.github/actions/setup-build
        with:
          os: ubuntu-latest
          arch: 'arm32'

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Test src on ${{ matrix.os }}
        run: |
          python3 build.py build --arch arm32

  build-linux-aarch64-src:
    name: build-src-linux-aarch64
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: fetch submodule
        run: |
          git submodule update --init --recursive autd3

      - name: Setup
        uses: ./.github/actions/setup-build
        with:
          os: ubuntu-latest
          arch: 'aarch64'

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Test src on ${{ matrix.os }}
        run: |
          python3 build.py build --arch arm32

  lint-src:
    name: lint-src
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: fetch submodule
        run: |
          git submodule update --init --recursive autd3

      - name: Setup
        uses: ./.github/actions/setup-build
        with:
          os: ubuntu-latest

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: lint src
        run: |
          python3 build.py lint
