name: build

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changed-files:
    name: changed-files
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changed-files-yaml.outputs.src_any_changed }}
    steps:
      - uses: actions/checkout@v4
      - id: changed-files-yaml
        uses: tj-actions/changed-files@v44
        with:
          files_yaml: |
            src:
              - '**/*.rs'
              - '**/Cargo.toml'

  test:
    needs: changed-files
    name: test-on-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
        if: ${{ needs.changed-files.outputs.src == 'true' }}
      - uses: ./.github/actions/setup-build
        with:
          os: ${{ matrix.os }}
          shaderc: true
          cuda: true
        if: ${{ needs.changed-files.outputs.src == 'true' }}
      - run: python3 build.py build
        shell: bash
        if: ${{ needs.changed-files.outputs.src == 'true' }}

  test-on-arm:
    needs: changed-files
    name: test-on-${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            arch: arm32
          - os: ubuntu-latest
            arch: aarch64
          - os: windows-latest
            arch: aarch64
    steps:
      - uses: actions/checkout@v4
        if: ${{ needs.changed-files.outputs.src == 'true' }}
      - uses: ./.github/actions/setup-build
        with:
          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}
        if: ${{ needs.changed-files.outputs.src == 'true' }}
      - run: python3 build.py build --arch ${{ matrix.arch }}
        if: ${{ needs.changed-files.outputs.src == 'true' }}

  lint:
    needs: changed-files
    if: ${{ needs.changed-files.outputs.src == 'true' }}
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-build
        with:
          os: ubuntu-latest
          shaderc: true
          cuda: true
      - run: |
          python3 build.py lint
          python3 build.py lint --features "static"

  auto-merge:
    needs:
      - test
      - test-on-arm
      - lint
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    if: ${{ always() && !cancelled() && !failure() && github.actor == 'dependabot[bot]' }}
    steps:
      - run: gh pr merge --rebase --auto "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
